* 
    @include box-sizing(border-box)

html
    font-size: 0.8em

body 
    margin: 0 1em

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,figure,
pre,table,fieldset,blockquote, section, article
    margin-bottom: 1.5rem // add fallback!

address 
    font-style: normal


