// http://modularscale.com/scale/?px1=18&px2=29&ra1=1.2&ra2=0

* 
    @include box-sizing(border-box)

html
    +media($large)
        font-size: 135%
        line-height: 1.55

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,figure,
pre,table,fieldset,blockquote, section, article
    margin-bottom: 1.5rem // add fallback!

img 
    max-width: 100%
    
address 
    font-style: normal

h1,h2,h3,h4,h5,h6
    font-weight: 300

h1
    font-size: 1.44rem

h2
    font-size: 1.343rem
h3
    font-size: 1.2rem
h4
    font-size: 1.119rem
  
a
    color: $red
    text-decoration: none
    &:hover
        color: $purple



