@import 'neat-helpers';

// Grid settings
$column: golden-ratio(1em, 3); // 90px
$gutter: golden-ratio(1em, 1); // 30px
$grid-columns: 4;
$max-width: em(800); 

$medium: new-breakpoint(min-width em(600) 8);
$large: new-breakpoint(min-width em(980) 12);

// Border-box-sizing
$border-box-sizing: false; // We're setting a global border-box anyway - no need to repeat.

// Default media feature that media() and new-breakpoint() revert to
// $default-feature: min-width;

// Default layout direction of the grid ( LTR / RTL )
// $default-layout-direction: LTR;

// Display or hide the visual grid
// $visual-grid: true;

// Color of the visual grid
// $visual-grid-color: #EEE;

// Z-index of the visual grid ( front / back )
// $visual-grid-index: back;

// Opacity of the visual grid
// $visual-grid-opacity: 0.4;