// Colors

// $red: #800D1C
// $purple: #63318D
// $pink: #970895
// $orange: #972608
// $brown: #8D4507

// $blue: #3f8abf

// $red: #DB4B28
// $brown: #8E5142
// $green: #9CE140
$blue: #0E35A8
// $dark-blue: #13338E


// http://www.colourlovers.com/palette/1930/cheer_up_emo_kid
$slate: #556270
$green: #4ECDC4
$lime: #C7F464
$orange: #FF6B6B
$red: #C44D58


$slice: #f2eeec
// $slice: #ece6da // segment
// $slice: lighten(tint(#BDE5E8,25%),9%)
// $slice: tint(#FFFFDB,70%)

// Layout stuff

$section-padding: 1.933rem
$section-padding-medium: 2.784rem
$section-padding-large: 2.986rem
