// Colors

// $red: #800D1C
// $purple: #63318D
// $pink: #970895
// $orange: #972608
// $brown: #8D4507

// $blue: #3f8abf

$red: #DB4B28
$brown: #8E5142
$green: #9CE140
$blue: #0E35A8
$dark-blue: #13338E

// $slice: #f2eeec
$slice: #f5f5f5

// Layout stuff

$section-padding: 1.933rem
$section-padding-medium: 2.784rem
$section-padding-large: 2.986rem
