%article.about 
    %header 
        %h1.visuallyhidden About Nadav
    %div.about__text
        %p Hi! I&rsquo;m a Jazz bass player and composer located in Atlanta, GA. I love to play music that feels good, and have been doing it professionally since 2007. I&rsquo;m passionate about adventurous, oftentimes swinging bass playing in line with the traditions.
        %p I work as both a bandleader and a sideman, equally confident playing original music and the classics of the Jazz tradition and Great American Songbook. 