%section.contact#contact
    .wrapper
        %header 
            %h1 Get in touch
        .contact__info
            %p Phone: (770) 289-1798
            %p Email: <a href="mailto:info@nadavmusic.com">info@nadavmusic.com</a>
        %form.contact__form{:action => "contact.php", :method => "post"} 
            %p 
                <input type="text" name="name" id="Name" placeholder="Name" class="contact__form__field">
            %p 
                <input type="text" name="email" id="Email" placeholder="Email" class="contact__form__field">
            %p 
                <textarea name="message" id="Message" placeholder="Leave your questions or comments" rows="10" class="contact__form__field"></textarea>
            %p 
                <input type="submit" value="Send" class="contact__form__submit">