%section.contact#contact
    .wrapper
        %header 
            %h1 Get in touch
        .contact__info
            %p Phone: (770) 289-1798
            %p Email: <a href="mailto:info@nadavmusic.com">info@nadavmusic.com</a>
