%footer.contact 
    .page 
        %header 
            %h1 Contact me
        .contact__info
            %p Phone: (770) 289-1798
            %p Email: <a href="mailto:info@nadavmusic.com">info@nadavmusic.com</a>
        %form.contact__form{:action => ""} 
            %p 
                <input type="text" name="Name" id="Name" placeholder="Name" size="40" class="contact__form__field">
            %p 
                <input type="text" name="Email" id="Email" placeholder="Email" size="40" class="contact__form__field">
            %p 
                <textarea name="Message"id="Message" placeholder="Leave your questions or comments" cols="40" rows="10" class="contact__form__field"></textarea>
            %p 
                <input type="submit" value="Send" class="contact__form__submit">