%footer.footer-main
    &copy; 2013 Nadav Spiegelman.
    %span(style="float:right;") 
        %a{:href => "/colophon"} Colophon 
        &nbsp;&bull;&nbsp;
        %a{:href => "http://peaceofmindwebdesign.com"}  I build websites.