<span data-picture data-alt="Nadav Spiegelman, Jazz bass">
      <span data-src="images/nadav-small.jpg"></span>
      <span data-src="images/nadav.jpg"     data-media="(min-width: 37.5em)"></span>

      <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
      <noscript>
          <img src="images/nadav-small.jpg" alt="Nadav Spiegelman, Jazz bass">
      </noscript>
  </span>