<span data-picture data-alt="Nadav Spiegelman, Jazz bass">
<!--       <span data-src="images/nadav-small.jpg"></span> -->
      <span data-src="images/nadav.jpg"     data-media="(min-width: 37.5em)"></span>
  </span>