%header.masthead 
    %h1.masthead__title Nadav Spiegelman
    %nav
        %ul.masthead__nav
            %li 
                %a{:href => "#"} Info            
            %li 
                %a{:href => "#"} Music
            %li 
                %a{:href => "#"} Press
            %li 
                %a{:href => "#"} Contact  