%nav
    %ul.nav-main
        %li 
            %a{:href => "#"} Info            
        %li 
            %a{:href => "#"} Music
        %li 
            %a{:href => "#"} Press
        %li 
            %a{:href => "#"} Contact  

%header.masthead 
    %a{:href => "#"} 
        %h1.masthead__title Nadav Spiegelman
    