<a href="https://soundcloud.com/david-meder/tricotism" class="sc-player">Tricotism</a>
<a href="https://soundcloud.com/nadavspi/and-all-of-the-other-shallow" class="sc-player">And all of the other shallow things</a>