%nav
    %header 
        %h1.visuallyhidden Site navigation
    %ul.nav-main
        %li 
            %a{:href => "#"} Music          
        %li 
            %a{:href => "#"} Schedule
        %li 
            %a{:href => "#"} Bio
        %li 
            %a{:href => "#"} Contact  