%nav
    %header 
        %h1.visuallyhidden Site navigation
    %ul.nav-main
        %li 
            %a{:href => "#music"} Music          
        %li 
            %a{:href => "#schedule"} Schedule
        %li 
            %a{:href => "#"} Bio
        %li 
            %a{:href => "#contact"} Contact  