%section.schedule#schedule
    .wrapper
        %header.schedule__header
            %h1 Schedule

        %article.event
            %header.event__date
                %h2 Oct 4        
            %section.event__details
                %h2.event__name Justin Varnes&rsquo; B&#8209;Sides Project
                %p 7:30 and 9:30pm / $15
                %a{:href => "http://thevelvetnote.com"} The Velvet Note
                %p Alpharetta, GA

        %article.event
            %header 
                %h2.event__date Nov 5  
            %section.event__details 
                %h2.event__name Nadav Spiegelman Trio
                %p 9 and 11pm / $15
                %a{:href => "http://www.churchillgrounds.com/"} Churchill Grounds
                %p Atlanta, GA     

        %article.event
            %header 
                %h2.event__date Nov 17
            %section.event__details 
                %h2.event__name Akeem Marable&rsquo;s <em>Dark Lake</em>
                %p 7 and 9pm / $15
                %a{:href => "http://thevelvetnote.com"} The Velvet Note
                %p Alpharetta, GA
                