%section.schedule#schedule
    .wrapper
        %header.schedule__header
            %h1 Schedule

        %article.event
            %header.event__date
                %h2 Oct 4        
            %section.event__details
                %h3.event__name Justin Varnes&rsquo; B&#8209;Sides Project
                .event__location    
                    %a{:href => "http://thevelvetnote.com"} The Velvet Note
                    %p 4075 Old Milton Pkwy
                    %p Alpharetta, GA
                    %p 7:30 and 9:30pm
                .event__personnel
                    %ul 
                        %li John Sandfort, <em>tenor sax</em>
                        %li Taylor Kennedy, <em>alto sax</em>
                        %li Louis Heriveaux, <em>piano</em>
                        %li Nadav Spiegelman, <em>bass</em>
                        %li Justin Varnes, <em>drums</em>

        %article.event
            %header 
                %h2.event__date Nov 5  
            %section.event__details 
                %h3.event__name Nadav Spiegelman Trio
                .event__location
                    %a{:href => "http://www.churchillgrounds.com/"} Churchill Grounds
                    %p 660 Peachtree St NE
                    %p Atlanta, GA
                    %p 9 and 11pm
                .event__personnel
                    %ul    
                        %li Darren English, <em>trumpet</em>
                        %li Rick Lollar, <em>guitar</em>
                        %li Nadav Spiegelman, <em>bass</em>

        %article.event
            %header 
                %h2.event__date Nov 17
            %section.event__details 
                %h3.event__name Akeem Marable&rsquo;s <em>Dark Lake</em>
                .event__location
                    %a{:href => "http://thevelvetnote.com"} The Velvet Note
                    %p 4075 Old Milton Pkwy
                    %p Alpharetta, GA
                    %p 7 and 9pm

                .event__personnel
                    :markdown
                        - Akeem Marable, *alto sax*
                        - Nick Rosen, *piano*
                        - Nadav Spiegelman, *bass*
                        - Justin Chesarek, *drums*

                