<section class="music__tracks">
    <header>
        <h1 class="visuallyhidden">Tracks</h1>
    </header>
    <iframe width="100%" height="159" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F33625314&amp;color=ff6b6b&amp;auto_play=false&amp;show_artwork=false"></iframe>
    <iframe width="100%" height="159" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F93983861&amp;color=ff6b6b&amp;auto_play=false&amp;show_artwork=false"></iframe>
    <iframe width="100%" height="159" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F93983861&amp;color=ff6b6b&amp;auto_play=false&amp;show_artwork=false"></iframe>
</section>