%section.bio
    .wrapper
        %header.bio__header
            %h1 My bio(s)

        %section
            %h3 50 words
            %article 
                :markdown
                    Nadav Spiegelman is a double bass player based in Atlanta, GA. Confident in many styles of music, Nadav especially loves to play Jazz music that swings and feels good. He received a Bachelor of Art in Music from Florida State University in 2011, and performs extensively in Atlanta and elsewhere.

        %section
            %h3 150 words
            %article
                :markdown
                    Nadav Spiegelman is a double bass player based in Atlanta, GA. Confident in many styles of music, Nadav especially loves to play Jazz music that swings and feels good. He received a Bachelor of Art in Music from Florida State University in 2011, where he received instruction under Rodney Jordan, Melanie Punter, and Marcus Roberts, and was a member of the Leon Anderson Trio which held residency at B Sharp’s Jazz Club. 

                    Nadav’s extensive performance experience include a 2010 performance at the Blue Note Jazz Club New York with Joe Alterman, and featured performances with the Philharmonic Orchestra of Honduras in 2013. In Atlanta, Nadav has performed with the Central Focus Trio, Akeem Marable, Jacob Deaton, Louis Heriveaux, and others. Nadav can be heard on Akeem Marable's *Dark Lake* with the Central Focus Trio, on Jacob Deaton's *Inside Out*, and on John A. Díaz-Cortés' *Not All Who Wander Are Lost*.

        %section
            %h3 250 words
            %article 
                :markdown
                    Nadav Spiegelman is a double bass player based in Atlanta, GA. Confident in many styles of music, Nadav especially loves to play Jazz music that swings and feels good. He received a Bachelor of Art in Music from Florida State University in 2011, where he received instruction under Rodney Jordan, Melanie Punter, and Marcus Roberts. While at FSU, Nadav regularly performed with faculty members Scotty Barnhart, Paul McKee, Bill Peterson, Bill Kennedy, and Leon Anderson. He was a member of the Leon Anderson Trio which held residency at B Sharp's Jazz Club and was featured with the Tallahassee Community Chorus in 2011. Nadav frequently performed as a bandleader and a sideman in Tallahassee at B Sharp's Jazz Club, Hi Fi Jazz Cafe, and other venues.  He also performed with the University Symphony Orchestra, the University Opera, and, in 2009, with Robert Pinsky, former United States Poet Laureate.

                    Nadav's extensive performance experience include a 2010 performance at the Blue Note Jazz Club New York with Joe Alterman, and featured performances with the Philharmonic Orchestra of Honduras as a member of the Ken Trimmins Quartet in 2013. In Atlanta, Nadav has performed regularly at Churchill Grounds, The Velvet Note,  and other venues with the Central Focus Trio, Akeem Marable, Jacob Deaton, Louis Heriveaux, Ted Howe, Bernard Linette,  and others. 

                    Nadav can be heard on Akeem Marable's *Dark Lake* with the Central Focus Trio, on Jacob Deaton's *Inside Out*, and on John A. Díaz-Cortés' *Not All Who Wander Are Lost*.
