%section.colophon
    .wrapper 
        %header 
            %h1 About this site
        %article.colophon__article
            %p This website was made by Nadav Spiegelman. It was built in HTML5 with <a href="http://sass-lang.com/">Sass</a> and <a href="http://neat.bourbon.io/">Bourbon Neat</a> and <a href="http://middlemanapp.com/">Middleman</a>. Hosted by <a href="http://apisnetworks.com/">apisnetworks</a>. 
            %p It is set in Proxima Nova and <span class="tk-futura-pt">Futura</span>, both served by <a href="https://typekit.com">Typekit</a>. Some of the colors are from the <a href="http://www.colourlovers.com/palette/1930/cheer_up_emo_kid">cheer up emo kid</a> palette.
            %p Home page photo by Madoka Oshima. Photo below by Katy Lacette Diaz.
        .colophon__image
            %img{:src => "/images/chaos.jpg", :alt => "Nadav Spiegelman"}/ 