= partial "about"

%section.music
    .wrapper
        %h1 Music 
        .music__content
            =partial "music"
        %img.image-main{:src => "images/nadav.jpg", :alt => "Nadav Spiegelman"}/ 


= partial "schedule"

= partial "contact"


