// +media($large)
//     .about__text
//         +span-columns(7)

//     .about__image
//         +span-columns(5)
//         +omega

.about
    background-color: #f8f5f0
    border-top: 1px solid darken(#f8f5f0,5%)
    border-bottom: 1px solid darken(#f8f5f0,5%)
    padding: 1.2em 0

.about__text
    @extend %container-padding
    +media($medium)
        max-width: em(445)
        margin: 0 auto
    +media($large)
        max-width: em(480)
        margin: 0 auto
