.contact
    @extend .pad-top
    @extend .margin-bottom

.contact__info
    margin-bottom: 1.611rem
    p
        margin: 0

.contact__form
    font-size: 0.8rem

.contact__form__field, .contact__form__submit
    background-color: $slice
    outline: none
    border: none
    +placeholder 
        color: $slate
    width: 100%
    +media($medium)
        width: 50%


.contact__form__field
    padding: 10px

.contact__form__submit
    @extend .smallcaps
    padding: 10px 25px
    color: #fefefe
    background-color: $orange
    &:hover
        background-color: $red
    +media($medium)
        width: 15%


// +media($medium)
//     .contact__info
//         +span-columns(3)
//     .contact__form
//         +span-columns(5)
//         +omega