.masthead
    padding: 1.5em 0
    +media($large)
        padding: 4em 0

.masthead__title
    font-size: 1.6rem
    margin-bottom: 0
    text-align: center
    text-transform: uppercase
    +media($large)
        font-size: 2rem

.masthead__nav
    @extend %nav
    font-size: 0.8rem