.schedule
    list-style: none
    +media($medium)
        // +span-columns(4)

.schedule__date
    margin-bottom: 0.5rem
    font-style: italic

.schedule__name
    margin-bottom: 0.5rem

.schedule__details
    p
        margin: 0
        padding-left: 2rem

