.schedule
    @extend %slice
    @extend .pad-top


.schedule__header
    @extend .section-margin--bottom

.event
    @extend .section-margin--bottom

.event__details
    padding-left: 2rem
    p
        margin: 0

.event__name
    margin-bottom: 0.833rem

.event__location
    @extend .smallcaps

