%slice-padding
    padding: 1.2rem 0

%slice
    background-color: $slice
    border-top: 1px solid darken($slice,7%)
    border-bottom: 1px solid darken($slice,7%)
    @extend %slice-padding

%slice-blue
    background-color: lighten(tint($blue,60%),12%)
    @extend %slice-padding
    